<ActionBar title="Contact Us" class="action-bar"></ActionBar>
<ScrollView orientation="vertical" class="page">
    <GridLayout class="m-5" rows="auto auto auto">
        <StackLayout row="0">
            <StackLayout class="p-10 border">
                <Label class="h2" text="Contact information"></Label>
                <Label class="body" text="121, Clear Water Bay Road" textWrap="true"></Label>
                <Label class="body" text="Clear Water Bay, Kowloon" textWrap="true"></Label>
                <Label class="body" text="HONG KONG" textWrap="true"></Label>
                <Label class="body" text="Tel: +852 1234 5678" textWrap="true"></Label>
                <Label class="body" text="Fax: +852 8765 4321" textWrap="true"></Label>
                <Label class="body" text="Email:confusion@food.net" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>





